.container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 0;
    overflow: hidden;
}

.body{
    padding: 0 1rem;
}
.link{
    text-decoration: none;
    color: inherit;
}

@media(max-width: 768px){
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }
    .body{
        padding: 0 0.5rem;
    }
}